node_modules

##############################################################
# Ignore files/directories that are added third party tools
##############################################################
.idea
.nyc_output

####################################
# Ignore files that are built
####################################
src/**/*.js
index.js
demo.js